<!DOCTYPE HTML>
<!--
	PÁGINA DE LISTAGEM - NOTICIAS/NOTICIAS.EJS
	
	Template que exibe TODAS as notícias cadastradas no sistema.
	Página acessada via menu "NOTÍCIAS" ou botão "Ver todas as notícias".
	
	DADOS RECEBIDOS DO CONTROLLER:
	- noticias: Array com TODAS as notícias do banco de dados (ordenadas por data)
	
	ESTRUTURA:
	- Layout linear (uma notícia por linha)
	- Cada notícia ocupa 12 colunas (largura total)
	- Lista cronológica completa do conteúdo
	
	DIFERENÇA DA HOME:
	- Home: Apenas 5 notícias recentes em grid
	- Esta página: Todas as notícias em lista vertical
-->
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Portal de notícias</title>
		
		<!-- JQuery - Biblioteca JavaScript -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- Bootstrap CSS via CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- CSS customizado -->
		<link href="css/style.css" rel="stylesheet">

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" />
	</head>

	<body>

		<!-- NAVBAR - Mesma estrutura da home (consistência de navegação) -->
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<img src="images/logo.png" />
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">HOME</a></li>
						<li><a href="/noticias">NOTÍCIAS</a></li>
						<li><a href="/formulario_inclusao_noticia" class="btn-admin">ADICIONAR NOTÍCIA</a></li>
					</ul>
				</div>
			</div>
		</nav>


	    <!-- CONTEÚDO PRINCIPAL - Lista completa de notícias -->
	    <div class="container">

	    	<!-- 
	    		CONDICIONAL EJS: Verifica se existem notícias no banco
	    		Evita erro se array estiver vazio
	    	-->
		    <% if(noticias.length > 0){ %>
		    	
		    	<!-- 
		    		LOOP ATRAVÉS DE TODAS AS NOTÍCIAS
		    		for(var i = 0; i < noticias.length; i++)
		    		Itera por todo o array de notícias vindas do banco
		    	-->
		    	<% for(var i = 0; i < noticias.length; i++){ %>
		    		
		    		<!-- LINHA INDIVIDUAL - Uma notícia por linha -->
			    	<div class="row">
			    		<!-- COLUNA CHEIA - 12 colunas = largura total da página -->
			    		<div class="col-md-12">
			    			<div class="noticia_wrapper">
			    				<!-- DADOS DA NOTÍCIA ATUAL (noticias[i]) -->
				    			<span class="noticia_autor"><%= noticias[i].autor %></span>
				    			
				    			<!-- Link para visualização individual -->
				    			<a href="noticia?id_noticia=<%=noticias[i].id_noticia%>" class="noticia_titulo"><%= noticias[i].titulo %></a>
				    			
				    			<span class="noticia_data"><%= noticias[i].data_noticia %></span>
				    			<br />
				    			<!-- Resumo para dar prévia do conteúdo -->
				    			<p class="noticia_resumo">
				    				<%= noticias[i].resumo %>
				    			</p>
				    		</div>
				    	</div>
					</div>
				<!-- Fechamento do loop -->
				<% } %>
				
			<!-- Fechamento da condicional -->
			<% } %>
			
	    </div>
	
	    <!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	</body>
</html>