<!DOCTYPE HTML>
<!--
	PÁGINA INICIAL - HOME/INDEX.EJS
	
	Template da página principal do portal de notícias.
	Exibe as 5 notícias mais recentes em layout responsivo usando Bootstrap.
	
	DADOS RECEBIDOS DO CONTROLLER:
	- noticias: Array com 5 notícias mais recentes vindas do banco de dados
	
	ESTRUTURA:
	- Layout em grid Bootstrap (responsivo)
	- Primeira notícia em destaque (col-md-8)  
	- Segunda notícia menor (col-md-4)
	- Demais notícias em cards menores (col-md-4)
	
	FUNCIONALIDADES EJS:
	- <%= %> : Exibe dados vindos do controller
	- <% %> : Lógica JavaScript (loops, condicionais)
-->
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Portal de notícias</title>
		
		<!-- JQuery - Biblioteca JavaScript para manipulação DOM -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- Bootstrap CSS - Framework CSS responsivo via CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- CSS customizado do projeto -->
		<link href="css/style.css" rel="stylesheet">

		<!-- Favicon do site -->
		<link rel="shortcut icon" href="images/favicon.ico" />
	</head>

	<body>

		<!-- NAVBAR - Menu de navegação superior -->
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<!-- Cabeçalho do navbar com logo -->
				<div class="navbar-header">
					<!-- Botão hamburger para mobile (Bootstrap responsivo) -->
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<!-- Logo do portal -->
					<img src="images/logo.png" />
				</div>

				<!-- Menu de navegação -->
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<!-- CORRIGIDO: href="/" aponta para rota dinâmica do Express -->
						<li><a href="/">HOME</a></li>
						<li><a href="/noticias">NOTÍCIAS</a></li>
						<!-- Botão administrativo estilizado com classe CSS especial -->
						<li><a href="/formulario_inclusao_noticia" class="btn-admin">ADICIONAR NOTÍCIA</a></li>
					</ul>
				</div>
			</div>
		</nav>


	    <!-- CONTEÚDO PRINCIPAL - Container Bootstrap -->
	    <div class="container">
	    	<!-- PRIMEIRA LINHA: Notícia principal (destaque) + notícia secundária -->
	    	<div class="row">
	    	
	    		<% if(noticias && noticias.length > 0) { %>
		    	<!-- NOTÍCIA PRINCIPAL - Ocupa 8 colunas (mais destaque) -->
		    		<div class="col-md-8">
		    			<div class="noticia_wrapper">
		    				<!-- EJS: exibe dados vindos do controller -->
		    				<!-- noticias[0] = primeira notícia do array (mais recente) -->
			    			<span class="noticia_autor"><%= noticias[0].autor %></span>
			    			
			    			<!-- Link para página individual da notícia -->
			    			<!-- ?id_noticia= cria query string para identificar a notícia -->
			    			<a href="noticia?id_noticia=<%=noticias[0].id_noticia%>" class="noticia_titulo"><%= noticias[0].titulo %></a>
			    			
			    			<span class="noticia_data"><%= noticias[0].data_noticia %></span>
			    			<br />
			    			<!-- Resumo da notícia para dar prévia do conteúdo -->
			    			<p class="noticia_resumo">
			    				<%= noticias[0].resumo %>
			    			</p>
			    		</div>
			    	</div>
			   
			   	<% if(noticias.length > 1) { %>
			   	<!-- NOTÍCIA SECUNDÁRIA - Ocupa 4 colunas (menor destaque) -->
	    		<div class="col-md-4">
	    			<div class="noticia_wrapper">
	    				<!-- noticias[1] = segunda notícia mais recente -->
		    			<span class="noticia_autor"><%= noticias[1].autor %></span>
		    			<a href="noticia?id_noticia=<%=noticias[1].id_noticia%>" class="noticia_titulo"><%= noticias[1].titulo %></a>
		    			<span class="noticia_data"><%= noticias[1].data_noticia %></span>

		    			<br />
		    			<p class="noticia_resumo">
		    				<%= noticias[1].resumo %>
		    			</p>
		    		</div>
		    	</div>
		    	<% } %>
		    	
		    	<% } else { %>
		    	<!-- MENSAGEM QUANDO NÃO HÁ NOTÍCIAS -->
		    	<div class="col-md-12">
		    		<div class="alert alert-info text-center">
		    			<h3>Nenhuma notícia disponível</h3>
		    			<p>Ainda não há notícias publicadas no portal. Volte em breve!</p>
		    			<a href="/formulario_inclusao_noticia" class="btn btn-primary">Publicar primeira notícia</a>
		    		</div>
		    	</div>
		    	<% } %>
	    	</div>

	    	<% if(noticias && noticias.length > 2) { %>
	    	<!-- SEGUNDA LINHA: Demais notícias (3ª, 4ª, 5ª) em cards menores -->
	    	<div class="row">
	    		<!-- 
	    			LOOP EJS: for executa JavaScript no servidor
	    			Itera pelas notícias restantes (índice 2 até o final do array)
	    		-->
	    		<% for(var i = 2; i < noticias.length; i++) { %>
		    		<!-- Cada notícia ocupa 4 colunas (3 notícias por linha no desktop) -->
		    		<div class="col-md-4">
		    			<div class="noticia_wrapper">
		    				<!-- noticias[i] = notícia atual do loop -->
			    			<span class="noticia_autor"><%= noticias[i].autor %></span>
			    			<a href="noticia?id_noticia=<%=noticias[i].id_noticia%>" class="noticia_titulo"><%= noticias[i].titulo %></a>
			    			<span class="noticia_data"><%= noticias[i].data_noticia %></span>
			    			<br />
			    			<p class="noticia_resumo">
			    				<%= noticias[i].resumo %>
			    			</p>
			    		</div>
			    	</div>
			    <!-- Fechamento do loop EJS -->
			     <% } %>
	    	</div>
	    	<% } %>

	    	<!-- BOTÃO "VER MAIS" - Link para página com todas as notícias -->
	    	<% if(noticias && noticias.length > 0) { %>
	    	<div class="row ver_mais">
	    		<button type="button" class="btn btn-default">
	    			<a href="noticias">Ver todas as notícias</a>
	    		</button>
	    	</div>
	    	<% } %>

	    </div>
	
	    <!-- Bootstrap JavaScript - Funcionalidades interativas (navbar mobile, etc) -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	</body>
</html>